body{
    background-color: black;
}

h1{
    text-transform: uppercase;
    font-size: 3rem;
}

.hacker{
    width: 50%;
    margin-top: 100px;
    margin-left: 25%;
    color: red;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}

.hacking-img{
    border: 5px solid red;
    width: 100%;
}